.product-container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 360px 360px 1fr ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}