.counter-wrapper{
    display: flex;
}

.btn{
    cursor: pointer;
}

.btn:hover{
    background-color: #13151a;
}

.svg-counter{
    fill: #000;
    width: 1.1rem;
    transition: all 400ms;
}
.btn:hover svg{
    fill: #fff !important;
} 
