footer{
  background-color: #12151b;
  padding: 1rem;
}
.Footer-son{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0.8rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #fff ;
}
footer a{
  color: #ffff;
}